<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Chess Demo</title>
	<link rel="stylesheet" href="/css/chessboard2.min.css">
	<link rel="stylesheet" href="/css/chessnotation.css">
	<style>
		#myBoard {
			margin: 20px auto;
		}
	</style>
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<h1 style="text-align:center;">Chess Demo</h1>
	<!-- chess.js 번들 -->
	<script src="/js/chess.bundle.js"></script>
	<!-- chessboard2 UI -->
	<script src="/js/chessboard2.min.js"></script>
	<div id="myBoard" style="width:400px"></div>

	<script>
		let playerColor = false;
		let orient = 'white';
		let myBoard = document.getElementById('myBoard');
		let promotionLine = 0;
		if(playerColor){
			myBoard.className = 'pov-white';
			promotionLine = 8;
		}else{
			myBoard.className = 'pov-black';
			orient = 'black';
			promotionLine = 1;
		}
		const game = new Chess()
		const boardConfig = {
			draggable: true,
			position: game.fen(),
			onDragStart,
			onDrop,
			orientation: orient
			// onSnapEnd
		}
		const board = Chessboard2('myBoard', boardConfig)

		//const statusEl = byId('gameStatus')
		//const fenEl = byId('gameFEN')
		//const pgnEl = byId('gamePGN')

		updateStatus()

		function onDragStart(dragStartEvt) {
			//console.log("dragStartEvt = ", dragStartEvt)
			// do not pick up pieces if the game is over
			if (game.isGameOver()) return false

			// only pick up pieces for the side to move
			if (game.turn() === 'w' && !isWhitePiece(dragStartEvt.piece)) return false
			if (game.turn() === 'b' && !isBlackPiece(dragStartEvt.piece)) return false

			// what moves are available to from this square?
			const legalMoves = game.moves({
				square: dragStartEvt.square,
				verbose: true
			})

			// place Circles on the possible target squares
			legalMoves.forEach((move) => {
				board.addCircle(move.to)
				//console.log("move = ", move)
				//console.log("move.to = ", move.to)
			})
		}

		function isWhitePiece(piece) {return /^w/.test(piece)}
		function isBlackPiece(piece) {return /^b/.test(piece)}

		function onDrop(dropEvt) {
			let check = false
			let promotion = 'q'
			console.log("dropEvt = ", dropEvt)
			const legalMoves = game.moves({
				square: dropEvt.source,
				verbose: true
			})
			//console.log("dropEvt.target = ", dropEvt.target)
			//console.log("legalMoves = ", legalMoves)
			legalMoves.forEach((move) => { // check legal move
				//console.log("move.to = ", move.to)
				if (dropEvt.target == move.to) {
					//console.log("legal move!")
					check = true
				}
			})
			// see if the move is legal
			if (check) {
				console.log("dropEvt.target = ", dropEvt.target);
				console.log("promotionLine = ", promotionLine);
				if(dropEvt.target.endsWith(promotionLine) && dropEvt.piece.endsWith('P')){
					console.log("ppp!");
				}
				const move = game.move({
					from: dropEvt.source,
					to: dropEvt.target,
					promotion: 'q' // NOTE: always promote to a queen for example simplicity
				})
				board.fen(game.fen(), () => {// make the move if it is legal
					updateStatus()
				})
				//console.log(game.ascii())
			}
			else {
				board.clearCircles();
				return 'snapback'
			}
			board.clearCircles()// remove all Circles from the board
		}

		// update the board position after the piece snap
		// for castling, en passant, pawn promotion
		// function onSnapEnd () {
		//   board.position(game.fen())
		// }

		// update DOM elements with the current game status
		function updateStatus() {
			//let statusHTML = ''
			const whosTurn = game.turn() === 'w' ? 'White' : 'Black'

			if (!game.isGameOver()) {
				if (game.inCheck()) { }//statusHTML = whosTurn + ' is in check! '
				// statusHTML = statusHTML + whosTurn + ' to move.'
			} else if (game.isCheckmate() && game.turn() === 'w') {
				//statusHTML = 'Game over: white is in checkmate. Black wins!'
			} else if (game.isCheckmate() && game.turn() === 'b') {
				//statusHTML = 'Game over: black is in checkmate. White wins!'
			} else if (game.isStalemate() && game.turn() === 'w') {
				//statusHTML = 'Game is drawn. White is stalemated.'
			} else if (game.isStalemate() && game.turn() === 'b') {
				//statusHTML = 'Game is drawn. Black is stalemated.'
			} else if (game.isThreefoldRepetition()) {
				//statusHTML = 'Game is drawn by threefold repetition rule.'
			} else if (game.isThreefoldRepetition()) {
				//statusHTML = 'Game is drawn by insufficient material.'
			} else if (game.isDraw()) {
				//statusHTML = 'Game is drawn by fifty-move rule.'
			}

			//statusEl.innerHTML = statusHTML
			//fenEl.innerHTML = game.fen()
			// pgnEl.innerHTML = game.pgn()
		}

		function byId(id) {
			return document.getElementById(id)
		}

	</script>
</body>

</html>