<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Chess Demo</title>
	<link rel="stylesheet" href="/css/chessboard2.min.css">
	<style>
		#myBoard {
			margin: 20px auto;
		}
	</style>
	<style>
	
	</style>
	
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<h1 style="text-align:center;">Chess Demo</h1>
	<!-- chess.js 번들 -->
	<script src="/js/chess.bundle.js"></script>
	<!-- chessboard2 UI -->
	<script src="/js/chessboard2.min.js"></script>
	<div id="myBoard" style="width: 800px"></div>
	<script>
		const game = new Chess()
		const config = {
		  position: 'start',
		  showNotaiotn: true
		}
		const board = Chessboard2('myBoard', config)
	</script>
</body>

</html>