<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket</title>
	<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</head>

<body>
    <h2>Chat Example</h2>
    <input type="text" id="from" placeholder="이름 입력"><br>
    <input type="text" id="text" placeholder="메시지 입력">
    <button onclick="sendMessage()">보내기</button>
    <ul id="messages"></ul>

    <script>
		var client = new StompJs.Client({
		      webSocketFactory: () => new SockJS("/ws-chat"),
		      onConnect: function (frame) {
		          console.log('Connected: ' + frame);
		          client.subscribe("/topic/messages", function (message) {
		              console.log("Received:", message.body);
					  showMessage(message);
		          });
		      }
		  });

		  client.activate();

        function sendMessage() {
            var from = document.getElementById('from').value;
            var text = document.getElementById('text').value;
			client.publish({
			         destination: "/app/sendMessage",
			         body: JSON.stringify({to: from, msg: text})
			     });
        }

        function showMessage(message) {
			let chatText = JSON.parse(message.body);
            var li = document.createElement('li');
            li.innerText = chatText.to + ": " + chatText.msg;
            document.getElementById('messages').appendChild(li);
        }

        
    </script>
</body>

</html>